<h2>Tags</h2>

<ul class="tag_list">
  <% @tags.each do |tag| %>
  <li>
    <a href="/transactions?type=<%= tag.id %>" >
      <img title="<%= tag.type %>" src="<%= tag.icon %>" alt="<%= tag.type %>" name="<%= tag.type %>"/>
    </a>
  </li>
  <% end %>

</ul>