<h1>Tags</h1>

<ul>
  <% @tags.each do |tag| %>
  <li>
    <a href="/transactions?type=<%= tag.id %>" >
      <img title="<%= tag.type %>" src="<%= tag.icon %>" alt="<%= tag.type %>"/>
    </a>
    <h2 class="total">Total of <%= tag.type %> transactions = £ <%=  @total_tag_value %></h2>
  </li>
  <% end %>

</ul>