<h2>Transactions</h2>

<table>
  <tr>
    <th>Merchant</th>
    <th>Value</th>
    <th>Transaction Date</th>
    <th>Type</th>
  </tr>
    <% for transaction in @transactions %>
      <tr>
        <td><%= transaction.merchant %></td>
        <td>£<%= transaction.value %></td>
        <td><%= transaction.date_of_trans %></td>
        <td><%= transaction.type %></td>  
        <td>
          <form method="post" action="/transactions/<%= transaction.id %>">
            <input type="hidden" name="_method" value="delete"> 
            <button>Delete</button> 
          </form>
        </td>
      </tr>
    <% end %>
</table>
<!-- write in if statement -->
<% if @total_tag_value != nil %>
<h2 class="total">Total <%= transaction.type %> transactions = £<%= @total_tag_value.to_f.round(2) %></h2>
<% end %>
<h2 class="total">Total of all transactions = £<%= Transaction.total_of_all_transactions.round(2) %></h2>