<h2>Transactions</h2>

<table>
  <tr>
    <th>Merchant</th>
    <th>Description</th>
    <th>Value</th>
    <th>Transaction Date</th>
    <th>Type</th>
  </tr>
    <% for transaction in @transactions %>
      <tr>
        <td><%= transaction.merchant %></td>
        <td><%= transaction.description %></td>
        <td>£<%= transaction.value %></td>
        <td><%= transaction.date_of_trans %></td>
          <% if transaction.type == "Bills" %>
            <td class="type-bill"><%= transaction.type %></td> 
          <% elsif transaction.type == "Entertainment" %>
            <td class="type-ent"><%= transaction.type %></td>
          <% elsif transaction.type == "Food" %>
            <td class="type-food"><%= transaction.type %></td>
          <% elsif transaction.type == "Rent" %>
            <td class="type-rent"><%= transaction.type %></td> 
          <% elsif transaction.type == "Clothes" %>
            <td class="type-clothes"><%= transaction.type %></td> 
          <% else %>
            <td><%= transaction.type %></td>
          <% end %> 
        <td>
          <form method="post" action="/transactions/<%= transaction.id %>">
            <input type="hidden" name="_method" value="delete"> 
            <button class="button" >Delete</button> 
          </form>
        </td>
      </tr>
    <% end %>
</table>

<% if @total_tag_value != nil %>
<h2 class="total">Total <%= transaction.type %> transactions = £<%= @total_tag_value.to_f.round(2) %></h2>
<% end %>
<h2 class="total">Total of all transactions = £<%= Transaction.total_of_all_transactions.round(2) %></h2>